body {
  font-family: sans-serif;
}

header {
  height: 75px;
  padding: 10px;
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


#nav-container {
  display: flex;
  flex-direction: row;
  background-color: royalblue;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

/* form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: chartreuse;
  height: 50px;
} */

footer {
  height: 50px;
  padding: 10px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#auth-form {
  display: flex;
  justify-content: flex-end;
  background-color: blueviolet;
  padding: 5px;
}

#username-form {
  display: flex;
  justify-content: flex-end;
  background-color:green;
  padding: 5px;
}
#password-form {
  display: flex;
  justify-content: flex-end;
  background-color:green;
  padding: 5px;
}
#button-form {
  display: flex;
  justify-content: flex-end;
  background-color:green;
  padding: 5px;
}